
* {
  box-sizing: border-box;
}


body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #1D1E2C;
  line-height: 1.4;
  margin: 0;
}
.hidden {
  display:none;
}

/*
BUTTONS
*/

/* BUTTON CONTINUE SAVE PRINT AND BACK */

.buttonsChangeForm {
  margin: auto;
  max-width: 500px;
  display: flex;
  justify-content: flex-end;
}

.buttonPrint {
  position: absolute;
  bottom:-37%;
  margin-bottom: 10px;
    right: 10%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  padding: 8px 30px;
  background-color: #4d6292;
  border: 2px solid #4d6292;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;

}

.buttonSave {
  margin-right: 40px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  padding: 8px 30px;
  background-color: #4d6292;
  border: 2px solid #4d6292;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
}

.buttonContinue {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  padding: 8px 30px;
  background-color: #4d6292;
  border: 2px solid #4d6292;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  margin-right: 24px;
}

.buttonContinue:hover {
  background-color: #344263;
}

/* BUTTON IN HEADER */

.button-CV {
  background-color: #4d6292;
  padding: 8px 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  margin-right: 24px;
  border: 0;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.button:hover {
  background-color: #344263;
}

/* BUTTON IN NAV */

.main-nav-button {
  border: none;
  background: none;
  min-width: 100px;
  max-width: 150px;
}

.main-nav-button:focus {
  outline:0;
}

.active {
  background-color: rgba(77, 98, 146, 0.5);

}

/* ==============
FORMULARIO
================== */

section {
  margin-bottom: 10%;
}



/* ----- Header -----  */

.header {
  border-bottom: 1px solid #1D1E2C;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.logo {
  width: 70%;
  margin-left: 24px;
  max-width: 150px;
}


/* ----- NAVIGATION BAR ----- */

.main-nav-list {
  margin: 5% auto;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-text {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #1D1E2C;
}


.main-nav ul {
  padding-left: 0;
}

.main-nav-list li {
  width: 25%;
  text-align: center;
}

.nav-icon {
  width: 30%;
}


/* -----  FORMULARIO -----  */

.main-form {
  margin-left: 40px;
  margin-right: 40px;
  max-width: 500px;
  min-width: 250px;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.title {
  font-size: 1.15em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 24px;
}

hr {
  display: block;
  margin-top: 0.2em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: #1D1E2C;
}



.label-form {
  display: none;
}

.input-form {
  appearance: none;
  padding: 10px;
  margin: 10px 0px;
  background-color: #C7EFCF;
  border-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #1D1E2C;
  line-height: 1.4;
  width: 100%;
  margin-bottom: 20px;
}

.grey {
  color: grey;
}

@media all and (min-width:500px) {
  .main-form {
    margin-right: auto;
    margin-left: auto;
  }
}


@media all and (max-width:1100px) {
  .nav-text {
    display: none;
  }
}

/* Personal Data */

#input_container {
  position:relative;
  padding:0;
  margin:0;
}

#input_img {
  position:absolute;
  bottom: 42%;
  left: 90%;
  width: 20px;
}

/* Projects */

.add-project {
  border: 1px #576490 solid;
  border-radius: 5px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.add-project a {
  text-decoration: none;
  color: #1D1E2C;
}

.buttons-project {
  width: 20px;
  flex-grow: 0;
}

.addfield {
  flex-grow: 1;
}

.margin-right-buttons {
  margin-right: 5px;
}

.containter-data-project {
  display: flex;
  justify-content: space-between;

}

.selector-project {
  width: 45%;
}



/* ==============
CV
================== */




.display-none {
  display: none;
}




/* Clases generales */
.cv-content {
  overflow: scroll;
  width:100%;
}

aside {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;

}

.print-cv {
  display: flex;
  width: 595px;
  height: 842px;

}

.list-none {
  list-style: none;
  margin: 0px;
  padding: 0px;

}
/*css cv-left*/

.cv-left {
  padding: 25px;
  max-width: 30%;
  height: 100%;
  background-color: #1D1E2C;
  color: white;

}
.cv-name {

  padding-bottom: 2px;
  text-transform: uppercase;

}


.description-text {
  font-size: 12px;

}

/*css cv-right*/

.cv-right {

  padding: 25px;
  max-width: 70%;
  height: 100%;
  background-color: #F5F0EF;

}

h3.seccion {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.tittle-education {
  margin-top: 5px;
  margin-bottom: 6px;
}

.tittle-projects {
  margin-top: 20px;
  margin-bottom: 6px;
}

.tittle-experience {
  margin-top: 20px;
  margin-bottom: 6px;
}

.bold {
  font-weight: bold;
}

.cv-description-project,.cv-description-project1{
  margin-top: 0;
  margin-bottom: 12px;
}

.margin-top {
  margin-top: 12px;
}

.margin-bottom {
  margin-bottom: 8px;
}

/*RESPONSIVE*/

@media all and (min-width:750px) {

  .formandcv {
    display: flex;
  }
  .buttonPrint {
    bottom:90%;
    margin-bottom: 0px;

    right: 10%;
  }

  aside {
    position: relative;
    padding-left: 40px;
    padding-top: 120px;
  }

  section {
    width: 60%;
    min-width: 275px;
    padding-left: 40px;
    padding-right: 40px;
    border-right: 1px solid black
  }

  .button-CV {
    display: none;
  }
}
@media all and (max-width:750px) {
  .cv-content{
    display: none;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .cv-content, .cv-content * {
    visibility: visible;
    display: block;
  }
  .cv-content{
    position: absolute;
    left: 0;
    top: 0;
    background-color: green;
  }
}
