
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #1D1E2C;
  line-height: 1.4;
}

/* ==============
FORMULARIO
================== */

/* Clases generales */

.title {
  font-size: 1.15em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.label-form {
  display: none;
}

.input-form {
  appearance: none;
  padding: 10px;
  margin: 10px 0px;
  background-color: #C7EFCF;
  border-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #1D1E2C;
  line-height: 1.4;
  width: 100%;
}


.button {   /*Referencia : http://www.jobandtalent.com/es */
  padding: 10px 25px;
  background-image: linear-gradient(to right, #576490 0%, #707da9 51%, #576490 100%);
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  background-size: 200% auto;
  background-position: -100px center;
  transition: background-position 0.5s;
}

.button:hover {
  background-position: 0 center;
}

.buttonGoBack {
  background-size: 200% auto;
  background: linear-gradient(to right, #ff9900 0%, #ffad33 51%, #ff9900 100%);

}

.buttonGoBack:hover {
  background: linear-gradient(to right, #ffb84d 0%, #ffb84d 100%);

}

/* NAVIGATION BAR */

.main-nav-list { /* No funciona el justify content */
  margin: 5% 0;
  list-style: none;
  display: flex;
}

.nav-icon { /* Cuando uso iconos svg al hacer flex al su contenedor su tamaño varía */
  width: 40%;
}

.icon-education {
  width: 45%;
}

/* DATOS PERSONALES */
.personal-data-title  {
  text-align: center;
  text-transform: uppercase;
}

form {
  margin: 5% 2%;
}



/* ==============
CV
================== */
