
* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #1D1E2C;
  line-height: 1.4;
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}



/* ==============
FORMULARIO
================== */

/* ClASES GENERALES */


.buttonGoBack {
  background-size: 200% auto;
  background: linear-gradient(to right, #ff9900 0%, #ffad33 51%, #ff9900 100%);
}

.buttonGoBack:hover {
  background: linear-gradient(to right, #ffb84d 0%, #ffb84d 100%);
}

/* Cabecera */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #576490 1px;
  height: 80px;
  padding-left: 24px;
  padding-right: 24px;
}

.button {
  padding: 6px 10px;
  background-image: linear-gradient(to right, #576490 0%, #707da9 51%, #576490 100%);
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  background-size: 200% auto;
  background-position: -100px center;
  transition: background-position 0.5s;
  font-size: 14px;
}

.button:hover {
  background-position: 0 center;
}

.logo {
  width: 35%;
}

/* FORMULARIO */

.title {
  font-size: 1.15em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.label-form {
  display: none;
}

.input-form {
  appearance: none;
  padding: 10px;
  margin: 10px 0px;
  background-color: #C7EFCF;
  border-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #1D1E2C;
  line-height: 1.4;
  width: 100%;
}

/* NAVIGATION BAR */

.main-nav-list { /* No funciona el justify content */
  margin: 5% 0;
  list-style: none;
  display: flex;
}

.nav-icon { /* Cuando uso iconos svg al hacer flex al su contenedor su tamaño varía */
  width: 40%;
}

.icon-education {
  width: 45%;
}

/* DATOS PERSONALES */

form {
  margin: 5% 2%;
}


/* Projects */

.add-project {
  margin-bottom: 24px;
  border: 1px #576490 solid;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.buttons-project {
  width: 20px;
}

.buttons-project-container {

}


/* ==============
CV
================== */

.display-none {
  display: none;
}

/* Clases generales */

aside {
width: 595px;
height: 842px;
display: flex;
}

.cv-left {
  padding: 20px;
  max-width: 30%;
  height: 100%;
  background-color: #1D1E2C;
  color: white;
}

.cv-contact {
  line-height: 0.2;

}

.cv-right {
  max-width: 70%;
  height: 100%;
  background-color: green;

}
