* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus { outline: 0; }
}

.hidden {
  display:none;
}

body {
  font-size: $sizeM;
  font-family: $familyPrimary;
  font-weight: map-get($fontWeight, 'light');
  color: $color-dark;
}

#section-form {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px;
  @media all and (min-width: 768px) {
    padding-left: 48px;
    padding-right: 48px;
  }
}

//remove fieldset style
fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}
