// COLOR
$color-primary: #3661A2;
$color-secondary: rgba(#3661A2, 0.5);

$color-light: #ffffff;
$color-midtone: rgba(#999999, 0.2);
$color-dark-midtone: #333333;
$color-dark: #111111;

// FONT
$familyPrimary: 'Roboto', sans-serif;

$fontWeight: (
  light: 300,
  regular: 400
);

// SIZES
$sizeS: 8px;
$sizeM: 16px;
$sizeL: 24px;
$sizeXL: 32px;
$sizeXXL: 48px;
$sizeXXXL: 64px;
