.main-nav-list {
  // padding-top: $sizeL;
  margin-bottom: $sizeL;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%
}

.nav-text {
  font-size: $sizeM;
  font-family: $familyPrimary;
  font-weight: map-get($fontWeight, 'regular');
  color: $color-dark;
  text-align: center;
  display: none;
  @media all and (min-width: 1024px) {
      display: block;
  }
}

.nav-icon {
  width: 30%;
}
