// Core
@import 'scss/core/variables'; //
@import 'scss/core/mixins'; //
@import 'scss/core/helpers'; //

// Components
// @import 'scss/components/typography';
@import 'scss/components/buttons';
@import 'scss/components/forms';

// Layout
@import 'scss/layout/header';
@import 'scss/layout/nav';
// @import 'scss/layout/cv';


/* ==============
CV
================== */


.display-none {
  display: none;
}

/* Clases generales */
.cv-content {
  overflow: scroll;
  width:100%;
  background-image: url('bg.png');
  background-repeat: repeat;
  border: 0;
  border-left: 2px solid $color-primary;
  border-style: dashed;
  padding-bottom: 64px;
  padding-top: 64px;
}

// aside {
//   font-size: 14px;
// }

.print-cv {
  display: flex;
  height:  842px;
  width: 595px;
  min-width: 595px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  border: 2px solid $color-secondary;
  box-shadow: 10px 10px $color-secondary;

}

.list-none {
  list-style: none;
  margin: 0px;
  padding: 0px;

}
/*css cv-left*/

.cv-left {
  padding: 25px;
  max-width: 30%;
  min-width: 30%;
  max-height: 100%;
  background-color: $color-dark-midtone;
  color: white;
}
.cv-name {
  padding-bottom: 2px;
  text-transform: uppercase;
}


.description-text {
  font-size: 12px;

}

/*css cv-right*/

.cv-right {

  padding: 25px;
  min-width: 70%;
  max-width: 70%;
  max-height: 100%;
  background-color: $color-light;

}

h3.seccion {
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.tittle-education {
  margin-top: 5px;
  margin-bottom: 6px;
}

.tittle-projects {
  margin-top: 20px;
  margin-bottom: 6px;
}

.tittle-experience {
  margin-top: 20px;
  margin-bottom: 6px;
}

.bold {
  font-weight: bold;
}

.cv-description-project,
.cv-description-project1{
  margin-top: 0;
  margin-bottom: 12px;
}

.margin-top {
  margin-top: 12px;
}

.margin-bottom {
  margin-bottom: 8px;
}

#tel-cv, #rrss-cv, #web-cv, #email-cv {
  font-size: 9px;
}

.cv-description-experience {
  padding: 0;
  list-style-type: none;
}

.ul-experience {
  padding: 0;
  list-style-type: none;
}

.put-inline {
  display: inline-block;
}

/*RESPONSIVE*/

@media all and (min-width:750px) {

  .formandcv {
    display: flex;
  }

  .buttonPrint {
    bottom:90%;
    margin-bottom: 0px;

    right: 10%;
  }

  aside {
    position: relative;
    padding-top: 128px;
  }

  section {
    width: 60%;
    // padding-left: 40px;
    // padding-right: 40px;
  }


  .button-CV {
    display: none;
  }
}
@media all and (max-width:750px) {
  .cv-content{
    display: none;
  }
}


@media print {
  .print-cv {
    display: flex;
    page-break-inside: avoid;
  }

  .cv-left {
    float: left;
    background-color: $color-dark;
    -webkit-print-color-adjust:exact;
    height: 842px;
  }

  .cv-right {
    float: right;
    height: 842px;
  }
}
