* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  *:focus {
    outline: 0; }

.hidden {
  display: none; }

body {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #111111; }

#section-form {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px; }
  @media all and (min-width: 768px) {
    #section-form {
      padding-left: 48px;
      padding-right: 48px; } }

.formandcv {
  display: block; }
  @media all and (min-width: 1024px) {
    .formandcv {
      display: flex; } }

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0; }

.buttonsChangeForm {
  display: flex;
  justify-content: flex-end; }

.buttonPrint {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 8px 30px;
  background-color: #3661A2;
  border-radius: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  transition: color ease 1s, background-color ease 1s; }
  .buttonPrint:hover {
    color: #3661A2;
    background-color: #ffffff; }
  @media all and (min-width: 1024px) {
    .buttonPrint {
      box-shadow: 10px 10px rgba(54, 97, 162, 0.5);
      transition: box-shadow ease 0.5s, color ease 0.5s; }
      .buttonPrint:hover {
        box-shadow: none; } }

.buttonSave {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 8px 30px;
  background-color: #3661A2;
  border: 0;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  margin-left: 8px;
  margin-right: 8px;
  transition: color ease 1s, background-color ease 1s; }
  .buttonSave:hover {
    color: #3661A2;
    background-color: #ffffff; }
  @media all and (min-width: 1024px) {
    .buttonSave {
      box-shadow: 10px 10px rgba(54, 97, 162, 0.5);
      transition: box-shadow ease 0.5s, color ease 0.5s; }
      .buttonSave:hover {
        box-shadow: none; } }

.buttonContinue {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding: 8px 30px;
  background-color: #3661A2;
  border-radius: 0;
  border: 0;
  text-decoration: none;
  text-align: center;
  margin-left: 8px;
  transition: color ease 1s, background-color ease 1s; }
  .buttonContinue:hover {
    color: #3661A2;
    background-color: #ffffff; }
  .buttonContinue a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto; }
  @media all and (min-width: 1024px) {
    .buttonContinue {
      box-shadow: 10px 10px rgba(54, 97, 162, 0.5);
      transition: box-shadow ease 0.5s, color ease 0.5s; }
      .buttonContinue:hover {
        box-shadow: none; } }

.button-CV {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #ffffff;
  padding: 8px 10px;
  color: #3661A2;
  font-weight: 400;
  text-align: center;
  border-radius: 0px;
  border: 0;
  font-size: 12px;
  font-family: "Roboto", sans-serif; }
  @media all and (min-width: 1024px) {
    .button-CV {
      display: none; } }

.title {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none; }

hr {
  margin-top: 8px;
  margin-bottom: 24px;
  height: 1px;
  color: #111111; }

.label-form {
  display: none; }

.input-form {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 8px;
  margin-bottom: 24px;
  background-color: rgba(153, 153, 153, 0.2);
  border-width: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #111111;
  line-height: 24px;
  width: 100%; }

#input_container {
  position: relative;
  padding: 0;
  margin: 0; }

#input_img {
  position: absolute;
  bottom: 47%;
  left: 90%;
  width: 7%;
  opacity: 0.5; }
  @media all and (min-width: 768px) {
    #input_img {
      left: 92%;
      width: 5%;
      bottom: 40%; } }
  @media all and (min-width: 1024px) {
    #input_img {
      width: 5%;
      bottom: 47%;
      left: 90%; } }

.add-project {
  border: 2px rgba(54, 97, 162, 0.5) solid;
  border-radius: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px; }
  .add-project:first-child {
    margin-top: 32px; }
  .add-project a {
    text-decoration: none;
    color: #111111; }
  @media all and (min-width: 1024px) {
    .add-project {
      box-shadow: 10px 10px rgba(54, 97, 162, 0.5);
      transition: box-shadow ease 0.5s, color ease 0.5s; }
      .add-project:hover {
        box-shadow: none; } }

.buttons-project {
  width: 20px;
  flex-grow: 0;
  opacity: 0.5;
  transition: opacity ease 1s, color ease 0.5s; }
  .buttons-project:hover {
    opacity: 1; }

.margin-right-buttons {
  margin-right: 8px; }

.containter-data-project {
  display: flex;
  justify-content: space-between; }

.header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #3661A2; }
  @media all and (min-width: 1024px) {
    .header {
      height: 80px; } }

.logo {
  width: 70%;
  max-width: 150px;
  display: block; }
  @media all and (min-width: 1024px) {
    .logo {
      width: 90%; } }

.main-nav-list {
  padding-top: 24px;
  padding-bottom: 24px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .main-nav-list .nav-icon {
    width: 50%; }
  @media all and (min-width: 768px) {
    .main-nav-list {
      padding-top: 48px;
      padding-bottom: 48px; }
      .main-nav-list .nav-icon {
        width: 40%; } }
  @media all and (min-width: 1024px) {
    .main-nav-list .nav-icon {
      width: 30%; } }

.nav-text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #111111;
  text-align: center;
  display: none; }
  @media all and (min-width: 1024px) {
    .nav-text {
      display: block; } }

.main-nav-button {
  border: none;
  background: none;
  height: 64px;
  opacity: 0.5;
  transition: opacity ease 1s, color ease 0.5s; }
  .main-nav-button:hover {
    opacity: 0.75; }
  @media all and (min-width: 1024px) {
    .main-nav-button {
      height: 96px; } }

a.active button {
  opacity: 1; }

.display-none {
  display: none; }

section {
  width: 100%; }
  @media all and (min-width: 1024px) {
    section {
      width: 60%; } }

.cv-content {
  overflow: scroll;
  width: 100%;
  background-image: url("bg.png");
  background-repeat: repeat;
  border: 0;
  padding-bottom: 64px;
  display: none; }
  @media all and (min-width: 768px) {
    .cv-content {
      padding-top: 64px; } }
  @media all and (min-width: 1024px) {
    .cv-content {
      padding-top: 128px;
      border-left: 2px solid #3661A2;
      border-style: dashed;
      display: block; } }

.print-cv {
  display: flex;
  height: 842px;
  width: 595px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px; }
  @media all and (min-width: 768px) {
    .print-cv {
      border: 2px solid rgba(54, 97, 162, 0.5);
      box-shadow: 10px 10px rgba(54, 97, 162, 0.5);
      transition: box-shadow ease 0.5s, color ease 0.5s; }
      .print-cv:hover {
        box-shadow: none; } }

.list-none {
  list-style: none;
  margin: 0px;
  padding: 0px; }

.cv-left {
  padding: 24px;
  background-color: #333333;
  color: #ffffff;
  font-size: 15px;
  max-width: 30%;
  min-width: 30%; }
  .cv-left * {
    margin-bottom: 32px;
    margin-top: 16px; }
    .cv-left *:first-child {
      margin-top: 0; }
    .cv-left * * {
      margin-bottom: 8px; }
    .cv-left * ul {
      margin-top: 12px;
      font-size: 10px;
      font-weight: 400; }
    .cv-left * li {
      margin-bottom: 8px;
      margin-top: 8px; }

.cv-name {
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 40px;
  text-transform: uppercase; }

.cv-description * {
  margin-top: 0;
  margin-bottom: 8px; }

.cv-description .description-text {
  font-size: 12px;
  line-height: 16px; }

.cv-right {
  line-height: 20px;
  padding: 24px;
  min-width: 70%;
  max-width: 70%;
  background-color: #ffffff;
  font-size: 14px; }
  .cv-right ul {
    padding: 0;
    list-style-type: none;
    margin-top: 16px; }
  .cv-right h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    text-decoration: underline; }
  .cv-right p {
    margin-top: 0;
    margin-bottom: 16px; }
  .cv-right .tittle-education {
    margin-top: 8px; }
  .cv-right .list-style {
    margin-top: 0; }

.bold {
  font-weight: 700; }

.put-inline {
  display: inline-block; }

@media print {
  .print-cv {
    display: flex;
    page-break-inside: avoid; }
  .cv-left {
    float: left;
    background-color: #111111;
    -webkit-print-color-adjust: exact;
    height: 842px; }
  .cv-right {
    float: right;
    height: 842px; } }
